/* Main */
html, body
{
    height:100%;
    margin:0;
}
body
{
    font-family:'kurd', arial;
    font-size:24px;
    line-height:2.5;
    background:#fff;
    color:#000;
    padding:1em;
    max-width:1000px;
    margin:0 auto;
    position:relative
}
h1, h2, h3, h4, h5, h6, p, input, a, form, button, select,
ul, li, ol, header, div, footer, article, section, nav, img,
table, tr, td, th, textarea, span, i, sup, sub
{
    padding:0;
    margin:0;
    border:0;
    font-family:inherit;
    font-weight:normal;
    transition:all .15s ease-out;
    text-align:inherit;
    box-sizing:border-box
}
input, textarea, button
{
    -webkit-appearance:none;
    appearance:none;
    outline:none;
    border-radius:0;
    background:none;
    color:#000
}
input, textarea
{
    padding:1em;
    text-align:right;
    border:1px solid #000;
    border-radius:1em;
    display:block;
    margin:auto
}
textarea
{
    height:15em;
    min-height:5em
}
.border-blue,input:focus,textarea:focus
{
    border-color:#00e
}
i
{
    font-style:normal
}
.button
{
    background:#eee;
    border-radius:1em
}
.button:hover,.fontsize button:hover,.toolbar a:hover
{
    background:#00e;
    color:#fff
}
a
{
    text-decoration:none;
    color:#000
}
a:hover, button:hover
{
    text-decoration:none;
    color:#00e
}
.poet-pic-small
{
    display:block;
    margin:0 auto;
    border-radius:50%;
    max-width:100px
}
.poetnm a,header a,.fontsize button
{
    display:inline-block
}
#tL-res
{
    position:relative;
    font-size:.55em
}
#tL-res a
{
    padding:.5em;
    display:block
}
.sli
{
    display:inline-block;
    vertical-align:top;
    border:0;
    margin:.5em auto 0;
    width:96%
}
.sli:nth-child(even)
{
    border-bottom:2px solid
}
.pitewsec
{
    padding:.5em 0
}
.pitewsec i.material-icons
{
    font-size:2em
}
.pitewsec h3
{
    font-size:.8em;
    display:inline-block
}
.pitewsec small
{
    font-size:.6em
}
#hon sup
{
    cursor:pointer;
    color:#00e;
    padding:0 3px;
}
.color-black, #hon sup:hover
{
    color:#000
}
#commNameTxt,#commTxt
{
    font-size:.6em;
    width:100%;
    margin-top:.5em
}
.comm-name
{
    font-size:.7em;
    line-height:2;
    margin-bottom:.5em
}
.comm-body
{
    font-size:.55em;
    padding:.5em 1em;
    text-align:justify;
    border-right:2px solid;
    margin-right:.5em;
    word-break:break-word
}
.comm-footer
{
    text-align:left;
    font-size:.45em
}
.nav
{
    font-size:.65em;
    width:100%;
    padding:.5em
}
.prev,.next
{
    display:inline-block;
    width:50%
}
.tt
{
    margin:-2em 0 1em;
    opacity:0;
    font-size:.65em;
    padding:5px 0;
    display:none;
    animation:tooltip .1s forwards
}
.material-icons
{
    font-family:'Material Icons';
    direction:ltr;
    line-height:1;
    display:inline-block;
    -moz-font-feature-settings:'liga';
    -moz-osx-font-smoothing:grayscale;
    vertical-align:middle
}
.sub-num
{
    vertical-align:bottom
}
header
{
    position:relative
}
.poet:hover,.color-blue,.selected,.link-color,
.link:hover,a:hover,button:hover,.search-main .cb:hover
{
    color:#00e
}
.color-red
{
    color:#e00
}
.back-red
{
    background:#e00
}
header a h1
{
    font-size:1.3em;
    margin:0 0 .2em
}
#poets
{
    text-align:center
}
.poet
{
    width:24%;
    display:inline-block;
    vertical-align:top;
    max-width:115px;
    margin:.5em .5% .1em
}
.poet h3,.poet a
{
    color:inherit
}
.poet h3
{
    font-size:.58em;
    white-space:nowrap;
    overflow:hidden
}
.poet img
{
    border-radius:50%;
    width:65%;
    display:block;
    margin:auto
}
.m, .b span, .n span, .m span, .m1 span, .m2 span, .m3 span, .poetnm, #adrs i
{
    font-size:inherit
}
#poet-info
{
    margin-top:1em;
    max-width:1000px
}
.bks,.poetdesc
{
    font-size:.65em;
    width:100%;
    margin:0 auto 1.5em;
    text-align:right
}
.bks a,.poetnm
{
    padding:.5em 1.8em .5em 0;
    display:block
}
.bks p,.poetdesc p
{
    padding:.2em .5em .2em 0;
    color:#00e;
    font-size:1.2em
}
#adrs
{
    font-size:.8em;
    padding-top:.5em;
    text-align:center
}
#adrs a, #current-location
{
    padding:0 .2em;
    display:inline-block
}
#sp
{
    padding:0 .2em 1em;
    margin:auto;
    text-align:right
}
#sp .poem-item
{
    text-align:right;
    font-size:.65em;
    display:flex
}
#sp a
{
    padding:.3em .2em;
    width:100%
}
#bkondesc,#bhondesc
{
    padding:0 1em;
    font-size:.6em;
    display:block
}
#bhondesc
{
    text-align:left;
    border-left:2px solid
}
#hon p
{
    font-size:.6em;
    padding:0 0 7px;
    transition:none
}
#hon
{
    margin-bottom:1em
}
#hon,.b,.m1,.m2,.n,.m,.m3, .b span, .ptr,#hon sup
{
    transition:none
}
#search-form,.pmlist-container
{
    display:flex
}
#search
{
    width:100%;
    max-width:1200px;
    display:none;
    margin:0 auto .5em
}
#search-key
{
    font-size:.65em;
    width:100%;
    text-align:right
}
#search-btn
{
    font-size:1.4em;
    padding:0 .3em
}
#search-res
{
    display:none;
    padding:1em .3em;
    position:relative;
    max-width:850px;
    margin:auto
}
#search-res #bhon, .bhoh-newdaq
{
    font-size:.6em;
    padding:.5em 0;
    color:#00e;
    text-align:right
}
#search-res a
{
    font-size:.55em
}
#search-res a h3
{
    font-size:1em;
    margin-top:.2em
}
#search-res section a h3
{
    white-space:nowrap;
    overflow:hidden
}
.search-notfound
{
    font-size:.6em;
    border-radius:50% 50% 0 0;
    border-top:2px solid #000;
    text-align:center
}
#search-res section
{
    margin:0 .3em;
    display:inline-block;
    max-width:80px;
    width:20%
}
#search-res section img
{
    border-radius:50%;
    width:80%;
    display:block
}
#search-res #poets
{
    margin-bottom:3px
}
.search-hon div
{
    margin:.3em 0;
    padding:0 1em 0 0;
    text-align:right
}
.search-hon a
{
    width:100%;
    display:block;
    text-align:right
}
.search-hon a i,.search-book a i,.link-news i
{
    font-size:.85em
}
.search-book a
{
    margin:.3em;
    display:block;
    padding:0 .5em;
    font-size:1em
}
.search-book
{
    margin-bottom:10px;
    text-align:right
}
.b
{
    margin-bottom:1.6em;
    font-size:.6em
}
.n
{
    margin-bottom:1.45em;
    font-size:.6em
}
.b .m1, .b .m2, .b .m3, .ptr .m1, .ptr .m2, .ptr .m3
{
    padding:3px 0;
    font-size:inherit
}
.m
{
    padding:3px 13px 3px 7px;
    text-align:right
}
.cf
{
    background:#f6f6f6
}
.loader
{
    height:2px;
    animation:loading 1s ease infinite;
    display:block;
    margin:1em auto
}
.loader-round
{
    width:1.5em;
    height:1.5em;
    border-radius:50%;
    animation:loading-round 1s ease infinite;
    margin:1em auto;
    display:block
}
#main-loader
{
    position:fixed;
    bottom:0;
    left:.5em;
    display:none
}
.fontsize
{
    font-size:.65em;
    padding:1em 0 2em
}
#Acomms div
{
    text-align:justify;
    padding:1em 1em 3em 1em;
    position:relative;
    border-radius:1em;
    margin-bottom:1em;
    word-break:break-word;
}
.h
{
    position:absolute;
    bottom:0;
    left:0;
    display:block;
    font-size:.75em;
    text-align:center;
    background:rgba(255,255,255,.5);
    color:black;
    border-radius:0 1.5em 0;
    padding:0 1em
}
.h::before
{
    content:'date_range ';
    font-family:'Material Icons';
    font-size:1.4em;
    vertical-align:middle
}
.h::after
{
    content:' favorite';
    font-family:'Material Icons';
    font-size:1.4em;
    vertical-align:middle
}
.link
{
    margin:.5em 0;
    padding:0 .3em
}
.header-icon
{
    background:none;
    position:absolute;
    top:.5em;
    font-size:1.4em
}
.ptr
{
    margin-top:1em;
    padding: .75em 0 .1em;
    font-size:1em;
    background:#f6f6f6
}
.bk-comp
{
    vertical-align:middle;
    height:.7em;
    padding-right:.1em;
    cursor:pointer
}
.ptrh
{
    font-size:.58em;
    padding-bottom:.9em
}
.d
{
    font-size:.85em;
    padding:1em
}
.dltr
{
    direction:ltr;
    text-align:left
}
footer
{
    padding:1em 0;
    width:100%;
    font-size:.6em;
    text-align:center
}
footer a
{
    display:inline-block;
    padding:.5em .3em
}
footer i,#header-nav i
{
    font-size:1.4em
}
.icon-round
{
    background:#000;
    color:#fff;
    border-radius:50%
}
.icon-round-poem 
{
    font-size:1.2em;
    padding:.3em;
    margin-left:.5em
}
.btn-selected,.back-blue,.loader,.loader-round
{
    background:#00e
}
.eee-desc,.border-right-eee,.border-right-999
{
    border-right:2px solid
}
.link-underline,#main-contributing a
{
    border-bottom:2px solid #00e
}
.color-white
{
    color:#fff
}
#header-nav
{
    position:absolute;
    z-index:999;
    background:#fff;
    left:1em;
    padding:1em;
    font-size:.6em;
    border:2px solid;
    border-radius:1em
}
#extlnk
{
    font-size:.6em;
    max-width:600px;
    margin:0 auto 2em;
    padding:0 1em;
    text-align:right
}
.next div,.prev div
{
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:90%;
    vertical-align:middle
}
.next i,.prev i
{
    font-size:inherit;
    display:inline-block;
    width:10%;
    max-width:.8em;
    vertical-align:top
}
#poem_dict p
{
    text-align:justify
}
.fbody-nav
{
    margin-top:1em
}
.fbody-nav a
{
    display:inline-block;
    padding:0 1em;
    font-size:.65em
}
.QAtxt-dev,.QAtxt-desktop,#frm-contributing #QAtxt,
#frm-manual #QAtxt,.QAtxt-first
{
    font-size: .65em;
    text-align: right;
    max-width: 100%;
    width: 100%;
    display: block;
    margin: auto;
}
#main-contributing h1
{
    font-size:1.5em;
    color:#00e;
}
#main-contributing h2
{
    font-size:1.3em;
    color:#00e;
    margin-top:1em;
}
#main-contributing h3
{
    font-size:1.1em;
    color:#00e;
    margin-top:1em;
}
#main-manual h1
{
    font-size:1.818em;
    color:#00e;
}
#main-manual h2
{
    font-size:1.618em;
    color:#00e;
    margin-top:1em;
}
#main-manual h3
{
    font-size:1.418em;
    color:#00e;
    margin-top:1em;
}
.comment,.prev,#main-contributing h1,
#main-contributing h2, #main-contributing h3,
#main-manual  h1, #main-manual  h2, #main-manual  h3
{
    text-align:right;
}
.input-label-box-edit-poet,
.input-label-box-index,
.input-label-box-poet-image
{
    display:flex;
    margin:0 .5em;
}
.btn-first,#frm-manual .btn,
#frm-contributing .btn,.btn-dev,.btn-desktop
{
    font-size:.7em;
    padding:.5em 1.5em;
    margin:1em auto 0;
    display:block;
    text-align:center
}
.search-main #myInput
{
    width:100%;
    margin-bottom:.5em;
    border-radius:0;
    border:0;
    border-bottom:2px solid #ccc;
}
.search-main .dropdown-content
{
    text-align:right;
    display:none;
    position:absolute;
    background:#fff;
    min-width:200px;
    max-width:200px;
    overflow-y:auto;
    border:2px solid;
    z-index:1;
    max-height:20em;
    font-size:.55em;
    border-radius:1em;
}
#header-nav a,.search-main .show
{
    display:block;
}
.search-main .cb
{
    padding:.5em 1em;
    font-size:.6em;
    cursor:pointer;
}
#wordMore,.next
{
    text-align:left
}
#wordMore a
{
    text-align:center;
    padding:.3em .8em
}
#wordMore a:hover
{
    text-decoration:none;
}
.dd-frame
{
    background:#fff;
    color:#666;
}
/* Different screen sizes */
@media only screen and (min-width:600px)
{
    body
    {
	font-size:28px
    }
    .sli:nth-child(even)
    {
	width:29%;
	border-left:2px solid;
	border-bottom:0
    }
    .sli:nth-child(odd)
    {
	width:69%
    }
    .sli
    {
	margin:1em auto
    }
    #poet-info
    {
	display:flex;
	margin-right:auto;
	margin-left:auto
    }
    .bks,.poetdesc
    {
	width:50%;
	margin-right:.5em;
	margin-left:.5em
    }
    footer a
    {
	padding:.5em .41em
    }
}
/* Animations */
@keyframes tL
{
    0% {opacity:0}
    100% {opacity:1}
}
@keyframes tL-top
{
    0%
    {
	opacity:0;
	margin-top:3em
    }
    40% {opacity:0}
    100%
    {
	opacity:1;
	margin-top:0
    }
}
@keyframes tooltip
{
    0%
    {
	opacity:0;
	margin-top:-1.5em
    }
    100%
    {
	opacity:1;
	margin-top:0
    }
}
@keyframes loading
{
    0%,100% {width:2em}
    25%,80% {width:4em}
    65% {width:1em}
}
@keyframes loading-round
{
    0%,100% { }
    15% {transform:scale(.5)}
    70% {transform:scale(.8)}
}
